<aside class="sidebar">

  <h3>Navigation</h3>

  <ul>
    <li><a href="/physion/">Home</a></li>

    <li class="dropdown">
      <a href="/html/library.html">Library</a>

      <ul class="submenu">
        <li><a href="/html/library/foundations.html">Foundations of Physics</a></li>
        <li><a href="/html/library/math_methods.html">Mathematical Methods</a></li>
        <li><a href="/html/library/cm.html">Classical Mechanics</a></li>
        <li><a href="/html/library/em.html">Electromagnetism</a></li>
        <li><a href="/html/library/td-sm.html">Thermodynamics and Statistical Mechanics</a></li>
        <li><a href="/html/library/rm.html">Relativistic Mechanics</a></li>
        <li><a href="/html/library/qm.html">Quantum Mechanics</a></li>
        <li><a href="/html/library/cnm.html">Continuum Mechanics</a></li>
        <li><a href="/html/library/optics.html">Optics</a></li>
      </ul>
    </li>

    <li><a href="/html/about.html">About</a></li>
  </ul>

</aside>
