<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
    };
  </script>

  <script>
    window.MathJax = {
      chtml: {
        displayAlign: 'left',
        displayIndent: '0em'
      }
    };
  </script>
  
  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
  
  {% include header.html %}

  <div class="layout">
    
    {% include sidebar.html %}
  
    <main class="content">
      {{ content }}
    </main>

  </div>

  {% include footer.html %}
  
</body>

</html>
